[class = '412ilender-center'] {
  text-align: center;
}

[id = '412ilender-contact-footer-image'] {
  border: 4px solid black;
}

[id = '412ilender-contact-footer-image'] > img {
  padding: 4px 30px 2px 30px;
}
/*[class = '412ilender-table'] > table {
  align: center;
}*/

blockquote {
  color: red;
  border: 4px solid #d6d7d6 !important;
  text-align: center;
}

[id = '412ilender-content'] {
  max-width: 700px;
  padding: 0px 40px;
}

[id = '412ilender-tagline']:before {
  content: "Think About It - Why Pay Fees Every Time You Refinance?";
}

[id = '412ilender-tagline'] {
  text-align: center;

  font-family: "palatino linotype", "book antigua", garamond, georgia, "times new roman", "ms mincho", serif;
  font-size: 16px;
  font-weight: bold;
  color: black;
  margin-top: 20px;

}
