/* 1. begin background styling */

[id = '412ilender-body-bground'] {
  z-index: -1;
  position: fixed;
  top: 0px;
  width: 1060px;
  height: 100%;
}


[id = '412ilender-nav-bground'] {
  z-index: 3;
  position: fixed;
  top: 0px;
  left: 70px;
  width: 177px;
  height: 100%;
  background: rgb(243, 253, 213);

  border-left: solid 25px rgb(213, 223, 187);
  border-right: solid 25px rgb(213, 223, 187);
  outline: 1px solid #d6d7d6;
}

/* 1. end background styling */

/* 2. begin foreground styling */

[id = '412ilender-header-left'] {
  z-index: 4;
  position: absolute;
  top: -152px;
  width: 297px;
  height: 151px;

}

[id = '412ilender-header-right'] {
  z-index: 4;
  position: absolute;
  top: -152px;
  left: 298px;
  width: calc(100% - 298px);
  width: -moz-calc(100% - 298px);
  width: -webkit-calc(100% - 298px);
  width: -o-calc(100% - 298px);
  height: 151px;
  background: transparent url(images/ic_059_title_bg_wide.png) no-repeat scroll;


}

[id = '412ilender-header-left'] > img  {
  border: 1px solid white;
  border-width: 1px 1px 0px 1px;
  margin-left: 70px;
}

[id = 'website-title'] {
    top: 60px;
    z-index: 9;
    position: absolute;
    left: 300px;
}

[id = '412ilender-website-slogan'] {
  z-index: 5;
  position: absolute;
  color: white;
}

[id = '412ilender-header-bottom'] {
  z-index: 4;
  position: -webkit-sticky;
  position: sticky !important;
  top: 0px;

  margin-top: 193px;
  width: 100%;
  height: 24px;
  border-bottom: 1px solid #D6D7D6;
}

[id = '412ilender-website-slogan-wrapper'] {
  z-index: 4;
  position: sticky;
  margin-top: -46px;
  top: 0px;
  left: 298px;
/*  background: red;*/
  width: 763px;
  height: 20px;
  border-top-right-radius: 5px;
  box-shadow: rgba(0,0,0,0.2) 0px 1px 3px;
}


[id = '412ilender-website-slogan-bground'] {
  z-index: 4;
  position: absolute;
  left: 298px;
  top: -21px;
  background: rgb(128, 128, 128);
  width: 763px;
  height: 20px;
  border-top-right-radius: 5px;
  box-shadow: rgba(0,0,0,0.2) 0px 1px 3px;
}

[id = '412ilender-header-contents'] {
  z-index: 6;
  left: 298px;
  top: 100px;
  position: absolute;
}


#wrapper {
  position: absolute;
  /*top: 100px;
  margin-top: 100px;  */
}

.wrapper-hack {
  position: static !important;
}



#navigation {
  position: -webkit-sticky;
  position: sticky;
  top: 0px;
  /*margin-top: 217px;  */
  margin-left: 70px;
  width: 177px !important;
  height: auto !important;
}

#main {
/*  z-index: 10;*/
  position: -webkit-sticky;
  position: sticky !important;
  top: 40px;
  margin-top: -400px;
  padding: 40px 40px 40px 300px !important;
}

[id = '412ilender-content'] {

  background: red;
}

[class= '412ilender-wrapper'] {
  width: 700px;
}

[class = '412ilender-wrapper-hack'] {
  margin-top: 450px !important;
}

body {
  position: sticky !important;
  background-color: #efefef !important;
}

/*side-menu at starting position*/
.wsite-menu-wrap {
  position: absolute !important;
  top: 250px !important;
}

/*side-menu at top position*/
.submenu-stick {
/*  top: 160px !important;*/
  top: 360px !important;
/*  top: 260px !important;*/
}

.navmenu-stick {
  position: fixed !important;
}

/*Calculators*/

/*.MortgageLoanWidget {
  position: absolute;
  top: -30px;
}*/

/*Comment Box*/

#heyoyaDiv {
  width: 700px !important;
  position: absolute;
  top: -30px;
}

/* color classes, fonts and styling */

.primary {
  background-color: rgb(96, 96, 96);
}

.secondary {
  background-color: rgb(66, 66, 66);
}

.background {
  background-color: rgb(255, 255, 255);
}

  h1#website-title {
    font-family: "palatino linotype", "book antigua", garamond, georgia, "times new roman", "ms mincho", serif;
  font-size: 36px;
  font-weight: bold;
  color: rgb(255, 255, 255);
  font-style: normal;
  text-decoration: none;
  padding: 20px 0px 0px 15px;
  left: 0px;
  }

  h2#website-slogan {
    font-family: "palatino linotype", "book antigua", garamond, georgia, "times new roman", "ms mincho", serif;
  font-size: 15px;
  font-weight: bold;
  color: rgb(255, 255, 255);
  font-style: normal;

    text-transform: none;
    padding: 2px 0px 0px 15px;
    /*background: rgb(128, 128, 128);
    margin: 0 auto;
    width: 748px;
    height: 20px;
    text-align: left;
    border-top-right-radius: 5px;
    box-shadow: rgba(0,0,0,0.2) 0px 1px 3px;
  font-weight: bold;  */
  /*padding: 10px 0px 4px 15px;
  position: absolute;
  bottom: 1px;*/
  }

*#content {font-family: "palatino linotype", "book antigua", garamond, georgia, "times new roman", "ms mincho", serif; font-size: 12px; font-weight: normal; color: rgb(85, 85, 85); font-style: normal; text-decoration: none}
*#content a:link {font-family: "palatino linotype", "book antigua", garamond, georgia, "times new roman", "ms mincho", serif; font-size: 10px; font-weight: normal; color: rgb(88, 121, 147); font-style: normal; text-decoration: underline}
*#content a:active {font-family: "palatino linotype", "book antigua", garamond, georgia, "times new roman", "ms mincho", serif; font-size: 10px; font-weight: normal; color: rgb(88, 121, 147); font-style: normal; text-decoration: underline}
*#content a:visited {font-family: "palatino linotype", "book antigua", garamond, georgia, "times new roman", "ms mincho", serif; font-size: 10px; font-weight: normal; color: rgb(88, 121, 147); font-style: normal; text-decoration: underline}
*#content a:hover {font-family: "palatino linotype", "book antigua", garamond, georgia, "times new roman", "ms mincho", serif; font-size: 10px; font-weight: normal; color: rgb(79, 109, 132); font-style: normal; text-decoration: underline}
*#navcontainer div a h3 {font-family: verdana, arial, sans-serif; font-size: 11px; font-weight: bold; color: rgb(96, 96, 96); font-style: normal; text-decoration: none}
*#navcontainer div a:hover h3 {font-weight: bold; color: rgb(255, 255, 255); font-style: normal; text-decoration: none; background-color: rgb(96, 96, 96)}
*#navcontainer div a:hover {font-weight: bold; color: rgb(255, 255, 255); font-style: normal; text-decoration: none; background-color: rgb(96, 96, 96)}
*.accent {background: transparent url(../images/handshake.jpg) no-repeat top left}
